      <table>
        <thead>
          <tr>
            <th>Test_id</th>
            <th>Title</th>
            <th>Info</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% if @questions %>
          <%= render @questions %>
          <tr>
            <td colspan="4">Total: <%= @questions.count %> <%= controller_name.singularize.pluralize(@questions.count) %></td>
          </tr>
          <% else %>
          <tr>
            <td colspan="4">Total: 0 Questions</td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Question', new_test_question_path(params[:test_id]), class: :button %>
