      <h1>New Question</h1>

      <form action="/tests/<%= params[:test_id] %>/questions" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

        <p>
          <label for="question-title">Title:</label>
          <input type="text" name="question[title]" id="question-title" value="<%= @question.title %>">
        </p>

        <p>
          <label for="question-info">Info:</label>
          <textarea name="question[info]" id="question-info"><%= @question.info %></textarea>
        </p>

        <input type="submit" value="Create">
      </form>
