      <p>
        <strong>Title:</strong>
        <%= @question.title %>
      </p>

      <p>
        <strong>Info:</strong>
        <%= @question.info %>
      </p>

      <%= link_to 'Edit', edit_question_path(@question), class: :button %>
      <%= link_to 'Back', test_questions_path(test_id: @question.test_id), class: :button %>
