      <p>
        <label for="question-title">Title:</label>
        <h4><%= @question.title %></h4>
      </p>

      <p>
        <label for="question-info">Info:</label>
        <%= @question.info %>
      </p>
