<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Question</th>
    <th>Gist hash</th>
    <th>User</th>
  </tr>
  </thead>

  <tbody>
  <% @gists.each do |gist| %>
    <tr>
      <td> <%= link_to truncate(gist.question.title, length: 25, separator: ' '),
                       admin_question_path(gist.question.id) %> </td>
      <td> <%= link_to gist.gist_url.split('/').last, gist.gist_url %> </td>
      <td><%= gist.user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
