#notice {
  background-color: lightgreen;
  border: 2pt solid;
  border-radius: 7pt;
  border-color: green;
  padding: 7pt;
  margin: 3pt;
  color: darkgreen;
}

#alert {
  background-color: lightcoral;
  border: 2pt solid;
  border-radius: 7pt;
  border-color: red;
  padding: 7pt;
  margin: 3pt;
  color: darkred;
}


