<li>
  <mark><%= link_to question.title, edit_admin_question_path(question.id, test_id: params[:test_id]) %></mark><br>
  <i><small><%= question.info %></small></i><br>
  <%= button_to 'X', admin_question_path(question.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <br>
</li>
