<li>
  <%= link_to question.title, edit_admin_question_path(question.id, test_id: params[:test_id]) %><br>
  <i><small><%= question.info %></small></i><br>
  <%= button_to t('helpers.submit.question.delete'), admin_question_path(question.id), method: :delete, data: { confirm: t('helpers.submit.confirm') } %>
</li>
<br>
